<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>All Messages</title>
    <br />
    <br />
</head>
<body background="circleback.jpg">
<h1><center>All Messages</center></h1>
<div class="container-fluid">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <a href="/add"><center>Add a Message</center></a>
    </div>
    <div class="col-lg-4"></div>
</div>
    <br />
    <br />
    <br />
<div class="container">
    <div class="well">
<table class="table table-bordered">
    <tr>
        <th><center>Name</center></th>
        <th><center>Date</center></th>
        <th><center>Message</center></th>
        <th><center>Update/Delete</center></th>
    </tr>
    <tr th:each="Message : ${messages}">
        <td th:text="${Message.content}"></td>
        <td th:text="${Message.posteddate}"></td>
        <td th:text="${Message.sentby}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${Message.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${Message.id})}">Delete</a>
        </td>
    </tr>
</table>
</div>
</div>
</body>
</html>
