<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a>
<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Content</th>
    </tr>
    <tr th:each="Message : ${messages}">
        <td th:text="${Message.content}"></td>
        <td th:text="${Message.posteddate}"></td>
        <td th:text="${Message.sentby}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${Message.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${Message.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${Message.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
